/* src/styles/global.css */
@import "tailwindcss";

/* Aquí definimos tu paleta para usar las clases bg-kernel-dark, text-kernel-gold, etc. */
@theme{
  --color-kernel-dark: #222121;
  --color-kernel-blue: #4E6D93;
  --color-kernel-green: #C8DDA4;
  --color-kernel-white: #FFFFFF;
  --color-kernel-bgblue: #101C29;
  --color-kernel-bggrblue1:#85B4E6;
  --color-kernel-bggrblue2: #807DFF;
  --color-kernel-txtDblue: #172554;
  --color-kernel-txtDblue2: #1e293b;
}